@import "tailwindcss";

body{
    min-height: 100vh;
    background: #0f0f12;
    color: #e2e8f0;
    background-image: radial-gradient(circle at 10% 20%, rgba(30, 64, 175, 0.15) 0%, transparent 30%), radial-gradient(circle at 90% 80%, rgba(124, 58, 237, 0.15) 0%, transparent 30%), radial-gradient(circle at 50% 50%, rgba(79, 70, 229, 0.08) 0%, transparent 50%);
    background-attachment: fixed;
    overflow-x: hidden;
}